body {
    background-color: #181818;
    max-width: 800px;
    margin: auto;
}

p {
    color: whitesmoke;
}

h1 {
    color: whitesmoke;
    background-color: #696969;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

h2 {
    color: whitesmoke;
    background-color: #696969;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

h3 {
    color: whitesmoke;
    background-color: #696969;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

h4 {
    color: whitesmoke;
    background-color: #696969;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.links {
    font-size: 24px;
}

li {
    color: whitesmoke;
}

a {
    color: whitesmoke;
}

.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
