body {
    background-color: #181818;
    max-width: 800px;
    margin: auto;
}

h1 {
    color: white;
    text-align: center;
}

.links {
    font-size: 28px;
    background-color: #696969;
}

li {
    color: whitesmoke;
}

a {
    color: whitesmoke;
}

/* .center { */
    /* text-align: center; */
/* } */